<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>
<body>
<h2>Change password</h2>
<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>
<form action="/user/change/password" method="post">
    <label for="currentPassword">Current password</label><br>
    <input type="password" id="currentPassword" name="currentPassword" required><br>
    <label for="newPassword">New password:</label><br>
    <input type="password" id="newPassword" name="newPassword"
           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$"
           title="Password must be at least 6 characters long and contain at least one lowercase letter, one uppercase letter, and one digit."
           required><br>
    <label for="confirmedPassword">Confirm password:</label><br>
    <input type="password" id="confirmedPassword" name="confirmedPassword"
           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$"
           title="Password must be at least 6 characters long and contain at least one lowercase letter, one uppercase letter, and one digit."
           required><br><br>
    <button type="submit">Change password</button>
</form>
</body>
</html>