<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weather Data</title>
</head>
<body>
<form method="get" data-th-action="@{/logout}">
    <button type="submit">Log Out</button>
</form>
<br>
<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>
<h1>Weather Data for <span th:text="${location.name}">Location Name</span></h1>
<p>Conditions: <span
        th:text="${weatherData.weather[0].main} + ': ' + ${weatherData.weather[0].description}">Conditions</span></p>
<p>Temperature: <span th:text="${#numbers.formatDecimal(weatherData.main.temp, 0, 0)} + '°C'">Temperature</span></p>
<p>Feels like: <span th:text="${#numbers.formatDecimal(weatherData.main.feels_like, 0, 0)} + '°C'">Temperature</span>
</p>
<p>Humidity: <span th:text="${weatherData.main.humidity} + '%'">Humidity</span></p>
<p>Visibility: <span th:text="${weatherData.visibility} + ' meters'">Visibility</span></p>
<p>Wind: <span th:text="${#numbers.formatDecimal(weatherData.wind.speed, 0, 0)} + ' meters/sec'">Wind</span></p>
<p>Wind direction: <span th:text="${weatherData.wind.deg} + ' deg'">Wind direction</span></p><br>
<a data-th-href="@{/weather/locations}">&larr; To the locations list</a><br><br>
<form method="post" data-th-action="@{/location/delete/{locationId}(locationId=${locationId})}">
    <button type="submit">Delete</button>
</form>
</body>
</html>